body {
	font-family: 'Montserrat', sans-serif;
}
.background-block {
	background: url("../images/background-title.png") no-repeat center top;
	height: 1040px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 20px;
	z-index: 1;
}

header {
	padding: 10px 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

.burger-menu {
	position: relative;
	padding-left: 50px;
	cursor: pointer;
}
.burger-menu__line {
	position: absolute;
    right: 65%;
    top: 40%;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.burger-menu__line:before {
	content: " ";
	position: absolute;
	top: -8px;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.burger-menu__line:after {
	content: " ";
	position: absolute;
	top: 8px;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.navigation {
	display: flex;
}
.logo {
	position: relative;
	font-size: 36px;
	font-weight: 800;
}
.logo:after {
	content: " ";
	position: absolute;
    top: 42%;
    left: 42px;
    height: 4px;
    width: 60px;
    background-color: #bea67c;
}

.logo a {
	text-decoration: none;
	color: inherit;
}

.menu {
	list-style-type: none;
	font-size: 15px;
	padding: 0;
	display: flex;
}

.menu__link {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: inherit;
	font-size: 15px;
	margin-left: 100px;
}

.nav-right {
	display: flex;
	align-items: center;
}

.nav-right .question {
    margin-right: 20px;
}

.nav-right .question {
	width: 23px;
	height: 23px;
	background-image: url("../images/info.png")
}

.nav-right .question:hover {
	cursor: pointer;
	background-image: url("../images/info2.png")
}

.language select {
	background-color: transparent;
	border: none;
	color: #ffffff;
	cursor: pointer;
}

.language select option {
	background-color: #000000;
}

.wrapper-overflow {
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;	
}

.title-block {
	display: flex;
	justify-content: space-around;
	padding: 250px 0;
}

.title-block__number {
	font-size: 52px;
	color: #bea67c;
	font-weight: 600;
	transform: rotate(90deg);
    padding-top: 50px;
}

.title-block__number:before {
	content: " ";
	position: absolute;
    top: 75px;
    right: 100%;
    height: 4px;
    width: 60px;
    margin-right: 10px;
    background-color: #bea67c;
}

.title-block__number:after {
	content: " ";
	width: 8px;
	height: 8px;
	background-color: #bea67c;
	border-radius: 50%;
	position: absolute;
    top: 75px;
    left: 120px;
}

.title-block__vertical-text {
	font-size: 14px;
	color: #bea67c;
	font-weight: 400;
	transform: rotate(90deg);
    padding-top: 200px;
    opacity: 0.2;
    letter-spacing: 2px;
}

.title-block__vertical-text span {
	display: inline-block;
	margin: 0 10px;
}

.title-block .title {
	font-size: 100px;
	color: #bea67c;
	font-weight: 800;
	margin-bottom: 30px;
	position: relative;
}

.title-block .title:after {
    content: "w";
    position: absolute;
    font-size: 395px;
    font-weight: 800;
    top: -100px;
    left: 150%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.title-block__center {
	position: relative;
}

.scroll-down {
	position: relative;
    top: 50px;
}

.scroll-down__vertical{
	position: absolute;
    top: 120px;
    left: -52px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	transform: rotate(90deg);
    opacity: 1;
}

.scroll-down__vertical img {
	margin-right: 25px;
}

.scroll-down__vertical span {
	opacity: 0.2;
}

.btn-title {
	display: inline-block;
	text-decoration: none;
	width: 300px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #ffffff;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 50px;
}

.btn-title img {
    margin-left: 3px;
}

.btn-title:hover {
	background-color: #000000;
}

.title-block__dots {
	width: 8px;
	height: 8px;
	background-color: #303030;
	border-radius: 50%;
	position: relative;
    bottom: 35px;
    left: 170px;
}

.title-block__dots:before, .title-block__dots:after {
	content: " ";
	width: 8px;
	height: 8px;
	background-color: #303030;
	border-radius: 50%;
	position: absolute;
	left: 50px;
}

.title-block__dots:after {
	left: 100px;
}

.share {
	position: absolute;
    top: 96%;
    left: 96%;
}

.background-block:before {
    content: "f";
    position: absolute;
    font-size: 395px;
    font-weight: 600;
    top: 78%;
    left: 10%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.background-block:after {
	content: "";
	position: absolute;
	top: 97%;
    left: 80%;
    height: 50px;
    width: 3px;
    background-color: #bea67c;
}

.block-white {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding: 120px 0;
}

.heading {
	font-size: 48px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}


.btn {
	display: inline-block;
	position: relative;
	text-decoration: none;
	width: auto;
	height: 50px;
	background-color: transparent;
	border: none;
	color: #000000;
	letter-spacing: 1px;
	line-height: 50px;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

.btn:after {
	content: "";
	display: block;
    position: absolute;
    top: 80%;
    left: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.btn img {
    margin-bottom: 1px;
    margin-left: 3px;
}

.content-block {
	display: flex;
}

.content-block__lines {
	width: 20%;
    height: 25px;
    border-bottom: 1px solid black;
    position: relative;
}
.content-block__lines--left {
    margin-right: 5%;
}
.content-block__lines--left:after {
	content: "";
	display: block;
    position: absolute;
    top: 80px;
    right: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.content-block__number {
	position: absolute;
	top:270px;
	left: 20px;
	font-size: 36px;
	font-weight: 800;
}

.content-block__number span {
	position: relative;
	left: 2px;
	color:#bea67c;
}

.content-block__number span:after {
	content: "";
	display: block;
    position: absolute;
    top: 100px;
    right: 25px;
    height: 50px;
    width: 2px;
    background-color: #bea67c;
}

.content-block__content--left {
	width: 75%;
	padding-right: 10px;
}

.content-block__content .text {
	line-height: 1.6;
}

.content-block__content--right {
	text-align: right;
    width: 60%;
}

.content-block__lines--right {
	margin-right: 0;
    margin-left: 5%;
}

.content-block__lines--right:after {
    content: "";
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.furniture, .decor {
	position: relative;
}

.furniture:after {
	content: "furniture";
    position: absolute;
    font-size: 170px;
    font-weight: 600;
    top: 35%;
    left: 65%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.2;
}

.decor:before {
	content: "d";
    position: absolute;
    font-size: 396px;
    font-weight: 600;
    top: -25%;
    left: 75%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.1;
}

.decor:after {
	content: "decor";
    position: absolute;
    font-size: 170px;
    font-weight: 600;
    top: 35%;
    left: -10%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.2;
}

.quality {
	flex-direction: column;	
}

.text--center {
	width: 55%;
    text-align: center;
    line-height: 1.6;
    margin-top: 40px;
    position: relative;
}

.text--center:before {
	content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 46%;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}