body {
	font-family: 'Montserrat', sans-serif;
}
.background-block {
	background: url("../images/background-title.png") no-repeat center top;
	height: 1040px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 20px;
	z-index: 1;
}

header {
	padding: 10px 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

.burger-menu {
	position: relative;
	padding-left: 50px;
	cursor: pointer;
	left:0;
}

.toleft {
  position: relative;
  left: -150px;
  transition: 1s left;
}

.burger-menu:hover {
	font-weight: bold;
}

.burger-menu:hover .burger-menu__line, 
.burger-menu:hover .burger-menu__line:before,
.burger-menu:hover .burger-menu__line:after{
	height: 2px;
}

.burger-menu__line {
	position: absolute;
    right: 65%;
    top: 40%;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.burger-menu__line:before {
	content: " ";
	position: absolute;
	top: -8px;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.burger-menu__line:after {
	content: " ";
	position: absolute;
	top: 8px;
    height: 1px;
    width: 30px;
    background-color: #bea67c;
}

.burger-menu__block {
	position: absolute;
	top:10px;
	left:-250px;
	background-color: #000000;
    height: 150px;
    width: 150px;
}

.toright {
  left: 10px;
  transition: 1s left;
}

.navigation {
	display: flex;
}
.logo {
	position: relative;
	font-size: 36px;
	font-weight: 800;
}
.logo:after {
	content: " ";
	position: absolute;
    top: 42%;
    left: 42px;
    height: 4px;
    width: 60px;
    background-color: #bea67c;
}

.logo a {
	text-decoration: none;
	color: inherit;
}

.menu {
	list-style-type: none;
	font-size: 15px;
	padding: 0;
	display: flex;
}

.menu--left {
	list-style-type: none;
	font-size: 15px;
	padding: 0;
	display: block;
}

.menu__link {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: inherit;
	font-size: 15px;
	margin-left: 100px;
}

.menu__link:hover {
    border-bottom: 2px solid #ffffff;
}


.menu__link--left {
	display: inline-block;
	margin-top: 10px;
	margin: 10px 10px 10px 20px;
	border-bottom: 2px solid transparent;
}


.nav-right {
	display: flex;
	align-items: center;
}

.nav-right .question {
    margin-right: 20px;
}

.nav-right .question {
	width: 23px;
	height: 23px;
	background-image: url("../images/info.png")
}

.nav-right .question:hover {
	cursor: pointer;
	background-image: url("../images/info2.png")
}

.language select {
	background-color: transparent;
	border: none;
	color: #ffffff;
	cursor: pointer;
}

.language select option {
	background-color: #000000;
}

.wrapper-overflow {
	overflow: hidden;
}

.container {
	width: 1180px;
	padding: 0 10px;
	margin: 0 auto;	
}

.title-block {
	display: flex;
	justify-content: space-around;
	padding: 250px 0;
}

.title-block__number {
	font-size: 52px;
	color: #bea67c;
	font-weight: 600;
	transform: rotate(90deg);
    padding-top: 50px;
}

.title-block__number:before {
	content: " ";
	position: absolute;
    top: 75px;
    right: 100%;
    height: 4px;
    width: 60px;
    margin-right: 10px;
    background-color: #bea67c;
}

.title-block__number:after {
	content: " ";
	width: 8px;
	height: 8px;
	background-color: #bea67c;
	border-radius: 50%;
	position: absolute;
    top: 75px;
    left: 120px;
}

.title-block__vertical-text {
	font-size: 14px;
	color: #bea67c;
	font-weight: 400;
	transform: rotate(90deg);
    padding-top: 200px;
    opacity: 0.2;
    letter-spacing: 2px;
}

.title-block__vertical-text span {
	display: inline-block;
	margin: 0 10px;
}

.title-block .title {
	font-size: 100px;
	color: #bea67c;
	font-weight: 800;
	margin-bottom: 30px;
	position: relative;
}

.title-block .title:after {
    content: "w";
    position: absolute;
    font-size: 395px;
    font-weight: 800;
    top: -100px;
    left: 150%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.title-block__center {
	position: relative;
}

.scroll-down {
	position: relative;
    top: 50px;
}


@keyframes move {
    from { left: -10px;}
    to { left: 10px;}
}
.arrow-scroll {
	position: relative;
    animation: move 1s infinite ease-in-out;*/
}

.scroll-down__vertical{
	position: absolute;
    top: 120px;
    left: -52px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	transform: rotate(90deg);
    opacity: 1;
}

.scroll-down__vertical img {
	margin-right: 25px;
}

.scroll-down__vertical span {
	opacity: 0.2;
}

.btn-title {
    display: flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
	width: 300px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #ffffff;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 50px;
	text-transform: uppercase;
}

.btn-title img {
    margin: 0 10px;
}

.btn-title:hover {
	background-color: #000000;
}

.title-block__dots {
	width: 8px;
	height: 8px;
	background-color: #303030;
	border-radius: 50%;
	position: relative;
    bottom: 35px;
    left: 170px;
}

.title-block__dots:before, .title-block__dots:after {
	content: " ";
	width: 8px;
	height: 8px;
	background-color: #303030;
	border-radius: 50%;
	position: absolute;
	left: 50px;
}

.title-block__dots:after {
	left: 100px;
}

.share {
	position: absolute;
    top: 96%;
    left: 96%;
    cursor: pointer;
}

.background-block:before {
    content: "f";
    position: absolute;
    font-size: 395px;
    font-weight: 600;
    top: 78%;
    left: 10%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.background-block:after {
	content: "";
	position: absolute;
	top: 97%;
    left: 80%;
    height: 50px;
    width: 3px;
    background-color: #bea67c;
}

.block-white {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding: 120px 0;
}

.heading {
	font-size: 48px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}


.btn {
	display: inline-block;
	position: relative;
	text-decoration: none;
	width: auto;
	height: 50px;
	background-color: transparent;
	border: none;
	color: #000000;
	letter-spacing: 1px;
	line-height: 50px;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

.btn:after {
	content: "";
	display: block;
    position: absolute;
    top: 80%;
    left: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.btn:hover {
    text-shadow: -8px -8px 2px #00000030;
}

.btn img {
    margin-bottom: 1px;
    margin-left: 3px;
}

.content-block {
	display: flex;
}

.content-block__lines {
	width: 20%;
    height: 25px;
    border-bottom: 1px solid black;
    position: relative;
}
.content-block__lines--left {
    margin-right: 5%;
}
.content-block__lines--left:after {
	content: "";
	display: block;
    position: absolute;
    top: 80px;
    right: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.content-block__number {
	position: absolute;
	top:270px;
	left: 20px;
	font-size: 36px;
	font-weight: 800;
}

.content-block__number span {
	position: relative;
	left: 2px;
	color:#bea67c;
}

.content-block__number span:after {
	content: "";
	display: block;
    position: absolute;
    top: 100px;
    right: 25px;
    height: 50px;
    width: 2px;
    background-color: #bea67c;
}

.content-block__content--left {
	width: 75%;
	padding-right: 10px;
}

.content-block__content .text {
	line-height: 1.6;
}

.content-block__content--right {
	text-align: right;
    width: 60%;
}

.content-block__lines--right {
	margin-right: 0;
    margin-left: 5%;
}

.content-block__lines--right:after {
    content: "";
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.furniture, .decor {
	position: relative;
}

.furniture:after {
	content: "furniture";
    position: absolute;
    font-size: 170px;
    font-weight: 600;
    top: 35%;
    left: 65%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.2;
}

.decor:before {
	content: "d";
    position: absolute;
    font-size: 396px;
    font-weight: 600;
    top: -25%;
    left: 75%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.1;
}

.decor:after {
	content: "decor";
    position: absolute;
    font-size: 170px;
    font-weight: 600;
    top: 35%;
    left: -10%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.2;
}

.skills {
	flex-direction: column;	
}

.text--center {
	width: 55%;
    text-align: center;
    line-height: 1.6;
    margin-top: 40px;
    position: relative;
    margin-bottom: 30px;
}

.text--center:before {
	content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 46%;
    height: 2px;
    width: 45px;
    background-color: #bea67c;
}

.skills {
	position: relative;
}

.skills:before {
	content: "v";
    position: absolute;
    font-size: 396px;
    font-weight: 600;
    top: 80%;
    left: 70%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.skills-block {
	display: flex;
}

.skills-block__skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.skills-block__skill-img-wrap {
	display: inline-block;
    margin: 30px;
}

.skills-block__skill-img {
	border-radius: 50%;
	padding: 15px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

.skills-block__skill-img-wrap:before {
	content: "";
    display: block;
    position: absolute;
    top: 36%;
    left: 40%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #bea67c;
    opacity: 0.8;
    cursor: pointer;
}

.skills-block__skill-img-wrap:hover .skills-block__skill-img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.skills-block__skill-img-wrap:hover:before {
	opacity: 1;
}


.skills-block__skill-img-wrap:after {
	content: url("../images/play.png");
    display: block;
    position: absolute;
    top: 42%;
    left: 48%;
    cursor: pointer;
}

.skills-block__skill span {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.skills-block__skill span:before {
	content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 38%;
    height: 1px;
    width: 35px;
    background-color: #bea67c;
}

.video {
	width: 100%;
	height: 916px;
	background-image: url("../images/video.png");
	display: flex;
	align-items: center;
	position: relative;
}

.video:before {
	content: url("../images/play-big.png");
    position: absolute;
    top: 5%;
    left: 35%;
} 

.video:after {
	content: "";
    position: absolute;
    top: 41%;
    left: 86%;
    height: 170px;
    width: 1px;
    background-color: #ffffff;
} 

.video__block {
    display: flex;
    align-items: center;
	width: 90%;
	height: 90%;
	border: 1px solid #bea67c;
	margin: 0 auto;
	z-index: 2;
}

.video__block > .content-block {
	padding-left: 60px;
}

.heading--light {
	color: #bea67c;
}

.text--video {
	width: 85%;
	color: #ffffff;
	padding: 15px 0;
}

.content-block__lines--video {
	width: 150px;
    height: 25px;
    border-bottom: 1px solid #ffffff;
    position: relative;
    margin-right: 30px;
}

.content-block__lines--video:after {
	content: "";
	display: block;
    position: absolute;
    top: 150px;
    right: 0;
    height: 3px;
    width: 45px;
    background-color: #bea67c;
}

.content-block__content--video {
	width: 50%;
}

.about-us {
	position: relative;
}

.content-block__lines--about {
    width: 25%;
    margin-left: -15%;
}

.about-us:before {
	content: "a";
    position: absolute;
    font-size: 396px;
    font-weight: 600;
    top: -35%;
    left: 75%;
    color: #bea67c;
    text-transform: uppercase;
    opacity: 0.1;
}

.about-us:after {
	content: "about";
    position: absolute;
    font-size: 170px;
    font-weight: 600;
    top: 35%;
    left: -15%;
    color: #d0d0d0;
    text-transform: uppercase;
    opacity: 0.2;
}

footer {
	background-image: url("../images/footer.png");
	color: #ffffff;
	height: 68px;
}

footer div {
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright, .designed {
	opacity: 0.6;
}

.author {
	margin-left: 8px;
}

.logo--footer {
	position: relative;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 2px;
}
.logo--footer:after {
	content: " ";
	position: absolute;
	top: 51%;
    left: 35px;
    height: 4px;
    width: 48px;
    background-color: #bea67c;
}

.logo--footer a {
	text-decoration: none;
	color: inherit;
}

